@import "variables";

$white: #fff;

.btn-success {
  color: #fff;
  background-color: $green;
  border-color: $green;
}
.btn-outline-success {
  color: $green;
  border-color: $green;
  &:hover {
    background-color: $green;
    border-color: $green;
  }
}
/* ----------------- SIDE MENU ------------------*/
.side-menu {
  padding: 0 !important;
}
.slide {
  .slide-menu {
    margin: 0 !important;
    padding: 0 !important;
    color: var(--gray-dark) !important;
  }
  .side-menu__item {
    color: var(--gray-dark) !important;
    &:hover {
      border-right: 3px solid var(--primary-bg-color);
    }
  }
  &.is-expanded a.side-menu__item {
    background: var(--gray-medium);
    border-right: 3px solid var(--primary-bg-color);
    color: var(--primary-bg-color) !important;
  }
  a {
    i {
      margin-right: 5px;
    }
    &:hover {
      background: var(--gray-medium);
    }
    &.slide-item {
      &.active,
      &:hover {
        background: var(--gray);
      }
    }
  }
}

.responsive-navbar {
  .profile-1 .dropdown-item {
    display: flex;
    align-items: center;
    i {
      margin-right: 5px;
    }
  }
  .dropdown-menu .badge {
    margin-left: auto;
  }
}

/* ----------------- STATISTICS ------------------*/
.statistics {
  .card {
    &:hover {
      .card-body {
        color: var(--primary-bg-color);
      }
    }
  }
}

/* ----------------- 400 - 401 - 403 - 404 - 500 - 503 PAGES ------------------*/
// .custom-emoji {
//   svg {
//     circle:nth-of-type(1) {
//       fill: $white;
//     }
//     path,
//     circle:nth-of-type(2),
//     circle:nth-of-type(3),
//     rect {
//       fill: var(--primary-bg-color);
//     }
//   }
// }

/* ----------------- CUSTOM TABLE ------------------*/
.dataTables_wrapper {
  .domOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pagination {
      align-items: center;
      .page-item {
        margin: 0 0.25em;
        .page-link {
          border: none;
          padding: 0.5rem 0.75rem;
          &:hover,
          &:focus {
            border-radius: 7px;
            color: var(--primary-bg-color);
          }
        }
        &.active {
          .page-link {
            color: #fff;
            background-color: var(--primary-bg-color);
            border-color: var(--primary-bg-color);
            border-radius: 7px;
          }
        }
      }
    }
  }
  .table-bordered,
  .text-wrap table,
  .table-bordered th,
  .text-wrap table th,
  .table-bordered td,
  .text-wrap table td {
    border: none;
  }
  table {
    &.dataTable {
      overflow: hidden;
      position: relative;
      border-radius: 10px;
      margin-bottom: 1em !important;
      > thead .sorting_asc:before,
      > thead .sorting_asc:after,
      > thead .sorting:before,
      > thead .sorting:after {
        bottom: 1em;
      }
      &.table-bordered th {
        background: $table-primary;
      }
    }
    thead {
      th {
        padding-top: 1rem;
        padding-bottom: 1rem;
        &:last-child {
          &::before,
          &::after {
            display: none;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          border-color: #e9edf4;
          border-bottom: 1px solid #e9edf4 !important;

          &:last-of-type {
            a {
              color: #000;
              margin: 0.5em;
            }
          }
        }
        &:hover {
          color: var(--primary-bg-color);
          background-color: $table-secondry;
          td {
            &:last-of-type {
              a {
                &.successIcon {
                  color: $green;
                }
                &.warningIcon {
                  color: $warning;
                }
                &.errorIcon {
                  color: $danger;
                }
                &.azureIcon {
                  color: $azure;
                }
                &.primaryIcon {
                  color: $primary-02;
                }
              }
            }
          }
        }
      }
    }
  }

  div.dataTables_info {
    padding-top: 0;
  }
  .dataTables_length label {
    margin-bottom: 0;
  }
  .select2-container--default .select2-selection--single {
    background: #fff;
  }
}
textarea {
  resize: none;
}

.modal {
  .modal-header {
    color: #fff;
    .btn-close {
      color: #fff;
      opacity: 1;
    }
  }
  .modal-footer {
    padding-top: 0;
    border-top: none;
  }
}

.profile {
  color: #000;
  p {
    margin-bottom: 2px;
  }
  span {
    font-size: 11px;
    color: $primary-01;
  }
}

.sticky {
  footer {
    background: #f9f9f9;
    font-size: 14px;
    .nav-link.icon {
      margin: 0;
      padding: 0;
      font-size: 14px;
    }
  }
}
/* ----------------- RTL STYLE ------------------*/
.rtl {
  .slide {
    .side-menu__item {
      &:hover {
        border-left: 3px solid var(--primary-bg-color);
      }
    }
    &.is-expanded a.side-menu__item {
      border-left: 3px solid var(--primary-bg-color);
      border-right: none;
      color: var(--primary-bg-color);
    }
    a {
      i {
        margin-left: 5px;
        margin-right: initial;
      }
      &:hover {
        border-right: none;
      }
      &.slide-item {
        &.active,
        &:hover {
          border-right: none;
        }
      }
    }
  }
  .responsive-navbar .profile-1 .dropdown-item {
    i {
      margin-left: 5px;
      margin-right: initial;
    }
  }
  .responsive-navbar .dropdown-menu .badge {
    margin-right: auto;
    margin-left: initial;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  min-width: 117px;
  justify-content: center;
  &.primary {
    color: var(--primary-bg-color);
  }
  i {
    line-height: 0;
    margin-left: 5px;
    &::before {
      line-height: initial;
    }
  }
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #e9edf4 !important;
}

.app-content {
  min-height: initial;
}

/* ----------------- OPACITY CUSTOM ------------------*/
.bg-success-opacity {
  background: #def8e9;
  color: #27ae60;
  font-weight: bold;
  min-width: 77px;
}
.bg-danger-opacity {
  background: #f6dddd;
  color: #e74c3c;
  font-weight: bold;
  min-width: 77px;
}
.bg-primary-opacity {
  background: #f9eef9;
  color: $primary-01;
  font-weight: bold;
  min-width: 77px;
}
.bg-default-opacity {
  background: #f4f5f5;
  color: #6c757d;
  font-weight: bold;
  min-width: 77px;
}
.bg-warning-opacity {
  background: #fbefe2;
  color: #ffc107;
  font-weight: bold;
  min-width: 77px;
}

.bg-info-opacity {
  background: #ebecfb;
  color: #6777cb;
  font-weight: bold;
  min-width: 77px;
}

/* ----------------- MEDIA QUERY CUSTOM ------------------*/
@media (max-width: 768px) {
  .domOption {
    flex-direction: column;
  }
}

/* width */
::-webkit-scrollbar,
.popover-body::-webkit-scrollbar {
  width: 5px;
  direction: rtl;
}

/* Track */
::-webkit-scrollbar-track,
.popover-body::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #033053;
  border-radius: 10px;
}
.popover-body::-webkit-scrollbar-thumb {
  background: #f7f7f7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover,
.popover-body::-webkit-scrollbar-thumb:hover {
  background: var(--primary-bg-color);
}

.ui-datepicker .ui-datepicker-calendar td a {
  border: none !important;
  &:hover {
    color: $white;
  }
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a {
  background-color: $primary-01;
  color: $white;
}

.datepicker {
  font-family: inherit;
  display: contents;
}

.bootstrap-datetimepicker-widget {
  .list-unstyled li {
    border-bottom: none;
  }
}

.card {
  &.custom {
    box-shadow: none;
    border: 1px solid $border !important;
    h5 {
      transform: translateY(-50%);
      display: inline;
      padding: 0 1em;
      width: fit-content;
      margin-top: -24px;
      background: #fff;
    }
  }
}

.dropify-wrapper {
  border: 4px dotted #e9edf4;
  .dropify-message span.file-icon:before {
    content: "";
    background: url("../images/pngs/photo_upload.png");
    position: absolute;
    width: 140px;
    height: 140px;
    top: 0;
    right: 50%;
    transform: translate(50%, -100%);
  }
  .dropify-message {
    p {
      margin-top: 60px;
    }
  }
}

.was-validated .custom-select:invalid + .select2 .select2-selection {
  border-color: #dc3545 !important;
}
.was-validated .custom-select:valid + .select2 .select2-selection {
  border-color: #28a745 !important;
}
*:focus {
  outline: 0px;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545 !important;
  padding-left: calc(1.5em + 0.75rem) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat !important;
  background-position: left calc(0rem + 1rem) center !important;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.form-control.is-invalid ~ .select2,
.was-validated .form-control:invalid ~ .select2 {
  .selection {
    .select2-selection {
      border-color: #dc3545 !important;
      padding-left: calc(1.5em + 0.75rem) !important;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
      background-repeat: no-repeat !important;
      background-position: left calc(0rem + 1rem) center !important;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
    }
  }
}

.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #198754 !important;
  padding-left: calc(1.5em + 0.75rem) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat !important;
  background-position: left calc(0rem + 1rem) center !important;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.form-control.is-valid ~ .select2,
.was-validated .form-control:valid ~ .select2 {
  .selection {
    .select2-selection {
      border-color: #198754 !important;
      padding-left: calc(1.5em + 0.75rem) !important;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
      background-repeat: no-repeat !important;
      background-position: left calc(0rem + 1rem) center !important;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
    }
  }
}

.form-control,
.select2-container--default .select2-selection--single,
select.form-control {
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  &:focus,
  &:active {
    border-color: $primary-01 !important;
  }
}

.vacant,
.occupied {
  position: relative;
  padding-right: 1em;
  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    right: 0;
    top: 50%;
    transform: translate(-50%);
    border-radius: 50%;
  }
}

.vacant {
  &::before {
    background-color: $azure;
  }
}

.occupied {
  &::before {
    background-color: $primary-01;
  }
}

label {
  font-weight: bolder;
}

.rounded-3 {
  border-radius: 7px;
}

// AUTHENTICATION

.auth_vector {
  min-height: 100vh;
  background-image: url("../images/pngs/bg.png");
  .v-image__image--cover {
    background-size: auto;
  }
}

// .mdi:before, .mdi-set{
//   line-height: 0 !important;
// }

.custom-control-label::before,
.custom-control-label::after {
  top: 0.4rem;
}

// .form-control{
//   min-height: 46px;
// }

.input-group-text {
  background: #000;
  color: #000;
  padding: 0.475rem 0.75rem;
}

.navbar {
  .bg-danger-opacity {
    min-width: initial;
  }
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.btn-outline-primary.dropdown-toggle.show {
  color: #fff;
}

.breadcrumb {
  font-size: 18px !important;
  a {
    color: $primary-01;
  }
  .active {
    color: #76839a !important;
  }
}
.page-title {
  font-size: 18px !important;
}

.main-sidemenu {
  margin-top: 2em;
}

.side-header {
  border-bottom: none !important;
  height: 105px;
}

.app-header {
  box-shadow: 0px 0px 15px 0px rgba(168, 180, 208, 0.1) !important;
}

.tooltip-inner {
  max-width: 800px !important;
}

// .historyTable{
//   tr{
//     td{
//       &:last-of-type{
//        p{
//           text-overflow: ellipsis;
// white-space: nowrap;
// overflow: hidden;
// width: 700px;
//        }
//       }
//     }
//   }
// }

.rtl table.dataTable > thead > tr > th:not(.sorting_disabled),
.rtl table.dataTable > thead > tr > td:not(.sorting_disabled) {
  padding-right: 30px;
  padding-left: 0.75rem;
}

.rtl table.dataTable > thead .sorting::before,
.rtl table.dataTable > thead .sorting_asc::before,
.rtl table.dataTable > thead .sorting_desc::before,
.rtl table.dataTable > thead .sorting_asc_disabled::before,
.rtl table.dataTable > thead .sorting_desc_disabled::before {
  right: 1em;
  left: auto;
}
.rtl table.dataTable > thead .sorting::after,
.rtl table.dataTable > thead .sorting_asc::after,
.rtl table.dataTable > thead .sorting_desc::after,
.rtl table.dataTable > thead .sorting_asc_disabled::after,
.rtl table.dataTable > thead .sorting_desc_disabled::after {
  right: 0.5em;
  left: auto;
}

.side-menu__item {
  font-size: 16px;
}
.slide-item {
  font-size: 14px;
}

@media only screen and (max-width: 991px) {
  body {
    background-color: #f6f6fb;
  }
}

.tooltipRole {
  display: block;
  color: #000;
  border-radius: 0;
  padding: 1em 2em;
  position: relative;
  border-bottom: 1px solid #f7f7f7;
  font-weight: normal;
  font-family: "Cairo";
  &:last-of-type {
    border: none;
  }
  &::before {
    content: "";
    position: absolute;
    right: 0;
    background: #000;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.modal-footer > :not(:first-child) {
  margin-left: 0;
}

.input-group {
  .input-group-text {
    position: absolute;
    left: 1px;
    top: 1px;
    height: 36px;
    border: none !important;
  }
}

.rtl .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.rtl
  .input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-top-left-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
}

.modal-content {
  padding: 2em;
  border-radius: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.popoverTooltip {
  .popover-body,
  .popover-header {
    height: 250px;
    overflow: scroll;
  }

  i[data-bs-toggle="popoverRoles"] {
    cursor: pointer;
  }
}

.select2 {
  text-align: right;
}

.select2-container--default .select2-selection--multiple {
  background-color: #fff;
  border: 1px solid #e9edf4 !important;
  cursor: text;
}

.rtl
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  left: 0px !important;
  right: inherit !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
  text-align: right;
}

table.dataTable.dtr-column > tbody > tr > td.dtr-control:before,
table.dataTable.dtr-column > tbody > tr > th.dtr-control:before,
table.dataTable.dtr-column > tbody > tr > td.control:before,
table.dataTable.dtr-column > tbody > tr > th.control:before {
  top: 50%;
  left: 50%;
  height: initial;
  width: initial;
  margin-top: -0.5em;
  margin-left: -0.5em;
  display: block;
  position: absolute;
  color: #000;
  border: transparent;
  border-radius: 1em;
  box-shadow: none;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font: normal normal normal 20px/1 "Material Design Icons";
  line-height: 1em;
  content: "\F06D0";
  background-color: transparent;
}

table.dataTable.dtr-column > tbody > tr.parent td.dtr-control:before,
table.dataTable.dtr-column > tbody > tr.parent th.dtr-control:before,
table.dataTable.dtr-column > tbody > tr.parent td.control:before,
table.dataTable.dtr-column > tbody > tr.parent th.control:before {
  content: "\F0D05";
  background-color: transparent;
  color: #45aaf2 !important;
}

tr {
  &:hover {
    .dtr-control:before {
      color: #45aaf2 !important;
    }
  }
}

.digit-group {
  direction: ltr;
}

$BaseBG: #0f0f1a;
.digit-group {
  input {
    width: 30px;
    height: 50px;
    background-color: lighten($BaseBG, 5%);
    border: none;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: white;
    margin: 0 2px;
  }

  .splitter {
    padding: 0 5px;
    color: white;
    font-size: 24px;
  }
}

.disable {
  cursor: initial;
}

.modal-backdrop.show {
  opacity: 0.75;
}

.permissions {
  .badge {
    &.bg-primary-opacity {
      height: 36px;
      i {
        margin-right: 5px;
        display: inline-block;
      }
    }
  }
}

.has-error {
  &.dropify-wrapper .dropify-errors-container {
    ul {
      right: 0;
      left: initial;
    }
  }
  .dropify-message {
    top: 80% !important;
    p {
      margin-top: 0 !important;
    }
  }
}


.form-control[readonly]{
  background: #fff;
}

.rtl .bs-popover-end>.popover-arrow, .rtl .bs-popover-auto[data-popper-placement^=end]>.popover-arrow {
    right: calc((0.5rem + 1px) * -1);
    left: auto;
    top: 50% !important;
    transform: rotate(180deg) translateY(50%) !important;
}

.toast{
  border: none !important;
  box-shadow: none !important;
}